<!-- <div style="text-align: right;"><a id="modal_close" href="#">close <b>X</b></a></div> -->
<div class="feedback-wrap">
    <div class="feedback-wrap-inner">

        <div>
            <h1>True Colours</h1>
            <h2>Please give your feedback</h2>
          </div>
         <div> 
        <form id="modal_feedback" method="POST" action="#" accept-charset="UTF-8">
            <p>
                <label><h3>Feedback<strong>*</strong></h3>
                <textarea required name="message" cols="48" rows="8"></textarea>
                </label>
            </p>
            <p>
                <input type="submit" id="feedbackForm" value="Submit" class="button">
            </p>
        </form>
    </div>
    </div>
</div>