<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="/">True Colours</a></span>
    <span class="example-spacer"></span>
    <span mat-icon-button class="example-icon favorite-icon">
      <a class="example-spacer" href="/register" mat-icon-button class="example-icon" aria-label="Example icon-button with login icon">
        <mat-icon>login</mat-icon>Register</a>
    </span><mat-icon></mat-icon>
    <span mat-icon-button class="example-icon">
      <a class="example-spacer" href="#search" mat-icon-button class="example-icon" aria-label="Example icon-button with login icon">
        <mat-icon>info</mat-icon>About Us</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
