


.reviews-table-wrap{
  display: flex;
  justify-content: center;
}

.reviews-table{
margin:4rem ;
border-collapse: collapse;
}

td,th{
/* border:1px solid #0E4B85; */
padding:0.5rem;
}

.comment-col{
  max-width: 40vw;
}
thead td{
  background: #f4511e;
  color:#fff;
  font-weight: bold;
  padding:1rem 0.5rem;
}

td{
  vertical-align: top;
}

tr:nth-child(2n){
  background: #fce5dd;
}
/* table{
  border: 1px;
  align-items: center;

}

th{
  background-color: rgb(14, 2, 2);
  color: #cfdcfc;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  font-family: Nunito;
} */