button{
    color: white;
    border-radius: 40px;
    background-color: #f4511e;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    min-width: 160px;
    cursor: pointer;
  }

  button:hover{
      background: #fff;
      border:2px solid #f4511e;
      color:#f4511e;
  }
  