<div class="home-page-wrap">
  <div class="home-page-inner">

    <h1>Search for Review</h1>
    <h3>Make your trip hasstle free. Read reviews first!</h3>
        <label for="resName" class="resName">Restaurant Name</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input #restaurantName id='restaurantName' matInput type="text" name="resName" placeholder="Search for restaurants"><br><br>
        <label for="cityName" class="cityName">City</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input #cityName id='cityName' matInput type="text" id="cityName" name="cityName" placeholder="Search for city"><br>
      <br>
        <button class="btn button mr-1" (click)="searchRestaurent()">SEARCH</button>


  </div>
</div>
