.home-page-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

h1, h3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-inner{
  width: 400px;
  border:1px solid #ccc;
  margin-top:4rem;
  padding:2rem;
  background: #0E4B85;
  color:#fff
}
.btn-wrap{
  display: flex;
  flex-direction: column;
}
.button{
  color: white;
  border-radius: 3px;
  background-color: #f4511e;
  color: #FFFFFF;
  text-align: center;
  border:2px solid #f4511e;
  font-size: 18px;
  padding: 10px;
  min-width: 160px;
  cursor: pointer;
}

.button:hover{
    transform: scale(1.02);
    transition: 0.3s transform;
}
input[type=text] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
}
mat-card{
  background-color: rgb(14, 75, 133);
  height: 350px;
  align-items: center;
}
