<div class="card register-wrap">
  <div class="card-body">
    <div class="example-card">

      <div>
        <h1>Register</h1>
        <h3>Make your trip hasstle free. Read reviews first!</h3>
      </div>

      <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Enter your first name" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                    <div *ngIf="!submitted && f.firstName.errors">
                      <br>
                    </div>

                </div>
                <div class="form-group col-5">
                    <label>Last Name</label>
                    <input placeholder="Enter your last name"  type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                    <div *ngIf="!submitted">
                      <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Email</label>
                    <input placeholder="Enter your email"  type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    <div *ngIf="!submitted">
                      <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input placeholder="Enter your password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                    <div *ngIf="!submitted">
                      <br>
                    </div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                  <label for="type">Type of customer</label>
                  <select name="type" id="type">
                    <option value="individual">Individual</option>
                    <option (click)="business()" value="business">Business</option>
                  </select>
                  <div *ngIf="b">
                    <div class="form-row">
                      <div class="form-group col">
                          <label for="restaurentName">Name of the restaurent</label>
                          <input placeholder="Enter restaurent name" type="text" formControlName="restaurentName" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                          <div *ngIf="submitted && f.restaurentName.errors" class="invalid-feedback">
                              <div *ngIf="f.restaurentName.errors.required">Restaurent Name is required</div>
                          </div>
                          <div *ngIf="!submitted">
                            <br>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
            <div class="text-center">
                <button class="btn button mr-1">Register</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
